[submodule "ISS Assignment 1"]
	path = ISS/Assignment 1
	url = https://github.com/ISS-2025-Spring/assignment-1-IrishBumfuzzle.git
[submodule "Assignment 1"]
	path = Assignment 1
	url = https://github.com/ISS-2025-Spring/assignment-1-IrishBumfuzzle.git
[submodule "ISS/Assignment 1"]
	path = ISS/Assignment 1
	url = https://github.com/ISS-2025-Spring/assignment-1-IrishBumfuzzle.git
